{% extends 'base.html' %}

{% load static %}

{% block title %} Recuperar senha {% endblock %}	
{% block main %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'img/img-01.png' %}" alt="IMG">
            </div>
            
            <div class="login100-form validate-form">
                <span class="login100-form-title">
                    Redefinição de senha enviada
                </span>
                <p class="text-log txt2">Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.
                    <br>
                    <br>
                    Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
                    <div class="text-center p-t-80">
						<a class="txt2" href="{% url 'logar_usuario' %}"><i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
							Ir para o login
							
						</a>
					</div>
                    
                </div>
            
				
        </div>
    </div>
</div>
{% endblock %}	